<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book list 20% rebate - computed and methods</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <header class="header">
        <section class="header__section">
            <p class="header__task-name">💻 Coding Task</p>
            <p class="header__bootcamp-info-wrapper">
                <span class="header__bootcamp-modul"><strong>Modul:</strong> Web Apps with Vue.js - Part 1</span>
                <a href="https://www.coding-bootcamps.eu/" class="header__bootcamp-link">coding-bootcamps.eu</a>
            </p>
        </section>
    </header>
    <main>
        <div id="app" class="inside">
            <h1>20% off on all books from O'Reilly Media</h1>
            <table>
                <thead>
                    <tr>
                        <th v-for="header of validTableHeaders" :key="header">
                            {{header}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="book of filteredBooks" :key="book.id">
                        <template v-for="header in validTableHeaders" :key="header">
                            <td v-if="Object.keys(book).includes(header)">{{ book[header]}}</td>
                        </template>
                    </tr>
                </tbody>
                <!-- { title, isbn, author, publisher, price, numPages } of filteredBooks" :key="isbn">
                        <td>{{ title }}</td>
                        <td>{{ isbn }}</td>
                        <td>{{ author }}</td>
                        <td>{{ publisher }}</td>
                        <td><span class="strike">{{ price }}</span></td>
                        <td>{{ numPages }}</td> -->

            </table>
        </div>
    </main>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
</body>

</html>